
    <div class="mat-primary">
        <mat-card  class="title-card" color="primary" >
            <mat-card-title>University of Szeged</mat-card-title>
            <h1 class="title-text">Online Market</h1>
          </mat-card> 
          <div class="loginDiv">
            <app-login></app-login> 
         </div>
          

        <div class="centered-container"> 
            <button mat-raised-button color="secondary" class="mat-button-large" routerLink="/register">Register (Sell & Buy)</button>
            <button mat-raised-button color="secondary" class="mat-button-large" routerLink="/products">Guest (check out the store)</button>
            </div>
        
      </div>
